pylint
black
autopep8
mypy 
bandit 
pylama 
prospector 
yapf

django
flask

flask-sqlalchemy
django-crispy-forms
djangorestframework
dj-database-url

django-pagedown 
django-markdown-deux 
django-debug-toolbar 
django-extensions
djangocms-installer
python-decouple




whitenoise
requests
bs4
pillow
pandas
numpy
matplotlib
gunicorn
jupyter

psycopg2-binary
markdown
flake8 
pydotplus 
pyinotify 
sniffer
